
/*body {
  Height:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url('../svg/app-background.svg');
} */

.py-4{
  /*margin-top: 35px; */
}

.nav-title{
  font-size: 1rem;
}

.list-img-icon {
  width: 64px;
  height: 64px;
  margin-right: 1rem;
}

.list-img-action {
  width: 32px;
  height: 32px;
}

.button-float {
  position: fixed;
  width: 13vh;
  right: 2vh;
  bottom: 2vh;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.button-float:hover {
  cursor: pointer;
  transform: rotate(45deg);
  transition: transform 0.5s;
}

.barra-secundaria {
  background-color: #3490dc;
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 50px;
}

.barra-secundaria .barra-titulo {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.barra-secundaria .botao-voltar {
  z-index: 1;
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Nova Categoria*/
.icone-upado {
  display: block;
  margin: auto;
  width: auto;
  min-height: 64px;
  border: #ced4da solid 1px;
  border-radius: 5px;
  padding: 10px;
}

.botao-browse {
  display: block;
  margin: auto;
}

.botao-submit {
  width: 100%;
}

.botao-browse {
  visibility:hidden;
}

.botao-categoria-editar{
  background-color: transparent;
  padding: none;
  border: none;
  cursor: pointer;
}

.form-categoria-editar {
  display: inline;

}




.botaoDesligar {
  border: 1px black solid;
  background-color: red;
  width: 100px;
}
