
/*body {
  Height:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url('../svg/app-background.svg');
} */

body {
  background-color: #d3e7f8 !important;
}

main {
  background-color: #d3e7f8 !important;
}

.py-4{
  /*margin-top: 35px; */
}

.nav-title{
  font-size: 1rem;
}

.nav-link {
  color: white !important;
}
.nav-link:hover {
  font-size: 20px;
}

.navbar-toggler {
  border-color: white !important;
}

.list-img-icon {
  width: 64px;
  height: 64px;
  margin-right: 1rem;
}

.list-img-action {
  width: 32px;
  height: 32px;
}

.background-azul {
  background-color: white !important;
}

.pesquisaInput {
  display: inline-block;
  height: 3rem;
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: center;
}



/* Barra Secundária*/
.barra-secundaria {
  background-color: #3490dc;
  position: relative;
  padding: 0;
  width: 100%;
  height: 50px;
}
.container-barra_secundaria {
  height: 100%;
}

.subcontainer-barra_secundaria{
  position: relative;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.barra-secundaria .barra-titulo {
  font-size: 1.2rem;
  color: white;
  z-index: 1;
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.barra-secundaria .botao-voltar {
  z-index: 1;
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}

.barra-secundaria .botao-adicionar {
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}


/* Nova Categoria*/
.icone-upado {
  display: block;
  margin: auto;
  width: auto;
  min-height: 64px;
  border: #ced4da solid 1px;
  border-radius: 5px;
  padding: 10px;
}

.botao-browse {
  display: block;
  margin: auto;
}

.botao-submit {
  width: 100%;
}

.botao-browse {
  visibility:hidden;
}

.botao-categoria-editar{
  background-color: transparent;
  padding: none;
  border: none;
  cursor: pointer;
}

.botao-categoria-excluir{
  background-color: transparent;
  padding-left: 1rem;
  border: none;
  cursor: pointer;
}

.form-categoria-editar {
  display: inline;
}

.botaoDesligar {
  border: 1px black solid;
  background-color: red;
  width: 100px;
}

/* Lista Categorias*/
.lista-categorias {
  min-height: 100vh
}

/* Lista Cardapio*/
.lista-itens-cardapio {
  margin-left: 1rem;
  display: block;
  background-color: white;
}

.background-lista-itens-cardapio {
  background-color: #3490dc;
}

.lista-itens-cardapio-linha {
  padding: 1rem;
  border-bottom: 1px solid #d3e7f8;
}

.botao-cardapio-editar{
  background-color: transparent;
  padding: none;
  border: none;
  cursor: pointer;
}

.botao-cardapio-excluir{
  background-color: transparent;
  padding-left: 1rem;
  border: none;
  cursor: pointer;
}

.form-cardapio-editar {
  display: inline;
}

.nomeItem {
  max-width: 200px;
  overflow: hidden;
}

.cardapioListar-botao-adicionar {
  z-index: 1;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

/* Lista Comandas */

/* Comanda Ver */
.card-comanda-titulo{
  background-color: #3490dc !important;
  color: white;
  font-size: 2rem;
}
